<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PVR0XB4800"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PVR0XB4800');
</script>
  <meta charset="UTF-8">
  <meta name="google-adsense-account" content="ca-pub-1315866627662535">
  <meta name="google-site-verification" content="Gp49A0VsFjruJ9bvxOq0TQO_HxtcRfJqJd1hFEzYM0w" />
  <title>Quizzify | Introduction</title>
  <link rel="shortcut icon" href="/asset/img/logo2.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home_style.css">
</head>

<body>
  <nav>
    <img src="/asset/img/logo2.png" alt="logo" class="logo" height="500" width="500">
    <menu class="navlist">
      <li class="active"><a href="/">Introduction</a></li>
      <li>
        <div class="dropdown">Make a Quiz</div>
      </li>
      <div class="dropdown_content">
        <div>
          <a href="/pdfToQuiz">
            <i class="fa-solid fa-file-pdf"></i>
            <p>Pdf To Quiz</p>
          </a>
        </div>
        <div>
          <a href="/promptToQuiz">
            <i class="fa-solid fa-file-image"></i>
            <p>Prompt To Quiz</p>
          </a>
        </div>
        <div>
          <a href="" class="under_process">
            <i class="fa-solid fa-file-video"></i>
            <p>Video To Quiz</p>
          </a>
        </div>
      </div>
      <li class="nav_contact"><a href="#contact_container">Join us</a></li>
    </menu>
  </nav>
    <header>
      <h1 id="heading">Welcome To <br>
        QuizifyPDF</h1>
      <img src="/asset/img/logo2.png" alt="logo" class="logo" height="500" width="500">
    </header>
    <section>
      <div class="full_width master aos">
        <h2>Join the Quiz !</h2>
        <label for="quizzid">Enter the unique Quiz code to enter the quiz !
        </label> <br>
        <form action="/joinQuiz" method="post">
          <input type="text" name="quizId" id="quizzid" placeholder="Enter the unique Quiz code"><br>
          <button type="submit">Join</button>
        </form>
      </div>
    </section>
    <section> 
      <div class="full_width aos">
        <h2>Unleash the Power of PDFs in Quiz Building !</h2>
        <p>
          Are you tired of the traditional and time-consuming process of creating quizzes? Look no further! <b>
            QUIZIFYPDF </b> revolutionizes the way you craft quizzes by introducing a seamless and efficient method -
          all you need is a PDF.
        </p>
      </div>
      <div class="working aos">
        <h2>How It Works?</h2>
        <p>
          <b>Upload Your PDF:</b> <br><br> Simply upload your PDF document containing questions and answers. Our
          intelligent
          system will
          analyze the content and extract the quiz elements automatically.
        </p>
        <p>
          <b>Customize Your Quiz:</b> <br><br> Once the extraction is complete, you have the flexibility to customize
          your quiz.
          Edit
          questions, add new ones, adjust difficulty levels, and make it uniquely yours.
        </p>
        <p>
          <b>Generate Instantly:</b> <br><br> No more waiting! With a click of a button, generate your quiz in seconds.
          Share it
          with
          your audience, students, or colleagues effortlessly.
        </p>
      </div>
      <div class="aos">
        <h2>Why Choose QuizifyPdf?</h2>
        <p>
          <b>Versatility: </b> <br><br>Accept quizzes in various formats, making it easy to integrate with your existing
          materials.
        </p>
        <p>
          <b>User-Friendly Interface:</b> <br><br> Our intuitive interface ensures a smooth experience, even for
          first-time
          users.
        </p>
        <p>
          <b>Secure and Reliable:</b> <br><br> Rest assured, your data is handled with the utmost care. We prioritize
          security to
          protect your content and privacy.
        </p>
      </div>
      <div class="aos">
        <h2>Who Can Benefit?</h2>
        <p>
          <b>Educators:</b> <br><br> Quickly generate quizzes for your students and focus on what matters - teaching.
        </p>
        <p>
          <b>Content Creators:</b> <br><br> Enhance your courses and materials with engaging quizzes without the hassle.
        </p>
        <p>
          <b>Business Professionals:</b> <br><br> Streamline training sessions by creating quizzes from your PDF
          presentations.
        </p>

      </div>
    </section>
    <section class="contact">
      <div class="full_width master aos" id="contact_container">
        <h2>Join the Quiz Revolution Today !</h2>
        <p>
          Ready to transform the way you create quizzes? Join <b>QuizifyPDF</b> today and experience the simplicity of
          turning PDFs into interactive quizzes. Elevate your content, engage your audience, and save valuable time.
          Welcome to the future of quiz creation!
        </p>
      </div>
    </section>
    <footer id="footer">
      <p>© 2023 QuizifyPDF</p>
    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.js"
    integrity="sha512-dfMpvQclalfL7nRtHdy4+U2GLYb2XJJOgGLgKibrbcbarI/ZLgCAaBCS6+AuWN0OtLn/zFpu+Cggd8TCBYx9Ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="../js/script.js"></script>
  <script defer src="../js/index_script.js"></script>
  <script defer src="https://kit.fontawesome.com/5a8048fc10.js" crossorigin="anonymous"></script>
</body>

</html>
