<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quizzify | Make Quiz</title>
  <link rel="shortcut icon" href="/asset/img/logo2.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/prompt_to_quiz_style.css">
</head>

<body class="loader">
  <dialog class="modal">
    <!-- <div class="loading"></div> -->
    <img src="/asset/img/load.gif" height="auto" width="auto" alt="">
    <p>Please wait ! You Quiz is being generated</p>
  </dialog>
  <nav>
    <img src="/asset/img/logo2.png" alt="logo" class="logo" height="500" width="500">
    <menu class="navlist">
      <li><a href="/">Introduction</a></li>
      <li class="active">
        <div class="dropdown">Make a Quiz</div>
      </li>
      <div class="dropdown_content">
        <div>
          <a href="/pdfToQuiz">
            <i class="fa-solid fa-file-pdf"></i>
            <p>Pdf To Quiz</p>
          </a>
        </div>
        <div>
          <a href="/promptToQuiz">
            <i class="fa-solid fa-file-image"></i>
            <p>Prompt To Quiz</p>
          </a>
        </div>
        <div>
          <a href="" class="under_process">
            <i class="fa-solid fa-file-video"></i>
            <p>Video To Quiz</p>
          </a>
        </div>
      </div>
      <li class="nav_contact"><a href="#contact_container">Join us</a></li>
    </menu>
  </nav>
  <form class="hero_section" method="post" id="form" onsubmit="submit()" action="/createQuiz">
      <h2>Prompt to QUIZ </h2>
      <div class="input_area">
        <h3>Enter the prompt here !</h3>
        <textarea name="quizContent" id="prompt" cols="30" rows="10" resize="no" required></textarea>
      </div>
      <div class="difficulty">
        <h3>Set difficulty !</h3>
        <div>
          <input type="radio" name="difficulty" id="easy" value="1"><label for="easy">Easy</label>
          <input type="radio" name="difficulty" id="medium" value="2"><label for="medium">Medium</label>
          <input type="radio" name="difficulty" id="hard" value="3"><label for="hard">Hard</label>
        </div>
      </div>
      <!-- <label for="prompt">Enter the</label>   -->
      <button type="submit" name="promptType"id="submit_button" value="1">Generate</button>
  </form>
  <section class="contact">
    <div class="full_width master aos" id="contact_container">
      <h2>Join the Quiz Revolution Today !</h2>
      <p>
        Ready to transform the way you create quizzes? Join <b>QuizifyPDF</b> today and experience the simplicity of
        turning PDFs into interactive quizzes. Elevate your content, engage your audience, and save valuable time.
        Welcome to the future of quiz creation!
      </p>
    </div>
  </section>
  <footer id="footer">
    <p>© 2023 QuizifyPDF</p>
  </footer>
  <script defer src="/js/script.js"></script>
  <script defer src="/js/prompt_to_quiz_script.js"></script>
  <script defer src="https://kit.fontawesome.com/5a8048fc10.js" crossorigin="anonymous"></script>

</body>

</html>