<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/quiz_home_style.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Quiz</title>
</head>

<body>
  <nav>
    <img src="/asset/img/logo2.png" alt="logo" class="logo" height="500" width="500">
    <ul class="navlist">
      <li><a href="index.html">Introduction</a></li>
      <li class="active"><a href="quiz_home.html">Your Quiz</a></li>
      <li><a href="form.html">Make a Quiz</a></li>
      <li class="nav_contact"><a href="#contact_container">Join us</a></li>
    </ul>
  </nav>
  <div class="container" id="container">
    <header>
      <h1>
        Ta-da!<br>
        Your personalized quiz is ready for action.
      </h1><br>
      <p>
        <b>QuizifyPDF</b> has generated your quiz in a matter of seconds. You can now share it with your audience,
        students, or colleagues.
      </p>
    </header>
    <section class="button_container">
      <a href="/quiz?id=<%=quizId%>&no=1">
        <button class="join_button">
          <p>Join the Quiz</p>
        </button>
        <!-- <button class="edit_button">
          <p>Edit the Quiz</p>
        </button> -->
      </a>
    </section>
    <section>
      <div class="master full_width">
        Share this unique quiz-code with your audience, students, or colleagues. <div class="code"><%= quizId %> </div>
        <br>
      </div>
    </section>
    <!-- <section class="contact">
      <div class="full_width master" id="contact_container">
        <h2>Join the Quiz Revolution Today !</h2>
        <p>
          Ready to transform the way you create quizzes? Join <b>QuizifyPDF</b> today and experience the simplicity of
          turning PDFs into interactive quizzes. Elevate your content, engage your audience, and save valuable time.
          Welcome to the future of quiz creation!
        </p>
      </div>
    </section> -->
    <footer id="footer">
      <p>© 2023 QuizifyPDF</p>
    </footer>
  </div>
</body>

</html>