.hero_section {
  /* padding: 1em 3em; */
  min-height: 92dvh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  /* column-gap: 2vw; */
  /* margin: 6vh auto; */
  /* overflow: scroll; */
}

@media screen and (max-width: 768px) {
  .hero_section {
    grid-template-columns: 1fr;
    row-gap: 2em;
  }

}

.hero_section>div {
  /* border: solid 2px #000000; */
  /* box-shadow: 0px 0px 10px 0px #0000001a; */
  padding: 1em 2em;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 5px 2px rgb(125, 146, 155); */
  /* background-color: white; */
  overflow: hidden;
}

.selection_area,
.select_pdf,
.submit_area {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  height: 100%;
}

.selection_area {
  justify-content: center;
}

.select_pdf,
.select_text {
  width: 100%;
}

.select_pdf img {
  height: 28vh;
  width: auto;
  mix-blend-mode: darken;
  opacity: .6;
}

input[type="file"] {
  display: none;
}

.select_button {
  border-radius: 10px;
  padding: 1em 2em;
  /* background-color: rgb(0, 136, 255); */
  background-color: rgb(197, 42, 42);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 1em 2em;
  border-radius: 10px;
  border: solid 2px rgba(0, 136, 255, 0.532);
  resize: none;
  font-size: 1.2em;
  color: #00000094;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-weight: bold; */
  /* color: rgb(0, 136, 255); */
  /* background-color: rgb(228, 228, 228); */
}

.error {
  color: red;
  cursor: not-allowed;
}

div:has(input[disabled])>label,
input[disabled],
button[disabled] {
  opacity: .3;
  cursor: not-allowed;
}

.submit_button {
  position: absolute;
  margin: 10% 0;
  border: none;
  border-radius: 10px;
  padding: 1.5em 2em;
  box-sizing: border-box;
  max-width: 100%;
  width: 60%;
  background-color: rgb(0, 136, 255);
  /* background-color: rgb(197, 42, 42); */
  color: white;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  bottom: 5%;
}

.submit_area {
  background-color: white;
  border-left: solid 1px rgba(0, 0, 0, 0.451);
  position: relative;
}

.submit_area div {
  width: 70%;
  margin-top: 5em;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
  place-items: center;
  margin-bottom: 10em;
}

.submit_area input {
  width: 100%;
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  border: solid 2px rgba(0, 136, 255, 0.567);
  background-color: rgb(255, 245, 245);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#difficulty_value {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  width: 100%;
  transform: translateY(-100%);
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

section div:is(:not(.full_width)) p {
  line-height: 1.2em;
  width: clamp(250px, 30%, 400px);
  padding: 3%;
  /* border: solid 2px black; */
  border-radius: 4px;
  box-shadow: 0 0 5px 2px rgb(125, 146, 155);
  background-color: white;
}

div:is(:not(.full_width)) h2 {
  flex: 1 0 100%;

}

div h2 {
  margin-bottom: 1.5em;
  font-size: xx-large;
}

.loader_active {
  transition: filter .4s ease-in-out, mix-blend-mode .4s ease-in-out, background-color .4s ease-in-out;
  filter: blur(5px);
  background-color: #00000088;
  mix-blend-mode: darken;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  background-color: #00000046;
  text-align: center;
  border: none;
  box-shadow: 0px 0px 20px 0px #00000046;
  color: white;
}
